@import './variables';

%button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $fontColor;
  border-radius: 10px;
  height: 35px;
  width: 100px;
  cursor: pointer;

  &:hover {
    background-color: $fontColor;
    color: $whiteColor;
    border: none;
  }
  &:disabled {
    border-color: $greyColor;
    background-color: $greyColor;
    color: $darkGreyColor;
    &:hover {
      background-color: $greyColor;
      cursor: auto;
    }
  }
}

%closeBtn {
  border: 1px solid $greyColor;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: $backgroundColor;
  }
}
