
$navbarHeight: 50px;

$padding-page: 34px;
$extraSmallWidth: 360px;
$smallWidth: 540px;
$mediumWidth: 760px;
$largeWidth: 1024px;
$extraLargeWidth: 1600px;

/*** MAIN COLORS ***/
$backgroundColor: #E9E6E6;
$fontColor: #566885;

/*** COLORS ***/
$blackColor: #000;
$whiteColor: #fff;
$greyColor: #cccccc;
$lightGreyColor: #a5a5a5;
$darkGreyColor: #666666;
$darkGreyColor2: #737373;
$greenColor: #008000;


