@import '../../globalStyles/main.scss';

.user {
  border: solid 2px $fontColor;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  &__name, &__username {
    text-decoration: underline;
  }
  &__name {
    margin-bottom: 10px;
  }
  &__btns {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    &-btn {
      @extend %button;
    }
  }
}
