@import '../../../globalStyles/main.scss';

.loader {
  @include bckImgProps(50px, 50px, '../../../assets/loaderRing.png');
  animation: load 0.8s infinite linear;
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
