@import './globalStyles/main';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__wrapper {
    max-width: 1140px;
    display: flex;
    flex-direction: column;

    @media (min-height: 600px) {
      height: calc(100vh - 70px);
    }
  }
}